.footer {
  background: #0F172A;
  color: white;
  padding: 4rem 2rem 2rem;
}


.footer__container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}


/* Brand */

.footer__logo {
  font-size: 1.5rem;
  font-weight: 800;

  color: #FC6C26;
  text-decoration: none;
}


.footer__brand p {
  margin-top: 1rem;

  max-width: 280px;

  color: #CBD5E1;
  line-height: 1.6;
}


/* Links */

.footer__links {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}


.footer__links div {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}


.footer__links h4 {
  color: #FFF4D6;
  margin-bottom: .5rem;
}


.footer__links a {
  color: #CBD5E1;
  text-decoration: none;

  transition: .2s ease;
}


.footer__links a:hover {
  color: #FC6C26;
}



/* Bottom */

.footer__bottom {

  grid-column: 1 / -1;

  border-top: 1px solid rgba(255,255,255,.1);

  padding-top: 1.5rem;

  text-align:center;

  color:#94A3B8;

  font-size:.9rem;
}



/* Responsive */

@media(max-width:768px){

.footer__container{
  grid-template-columns:1fr;
}

.footer__links{
 grid-template-columns:1fr;
}

}